:root{
    --yellow:#FFE814;
    --grey-400:#333333;
    --grey-200:#707070;
    --black-200:rgb(17, 17, 17);
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background: black;     
}

.h1{
    font-size:xx-large;
}

.h2{
    font-size: large;
}

h1, h2, p, a {
    margin: 0;
}

p{
    font-size: medium;
}

.hidden{
    display: none !important;
}

*:disabled,
*:disabled:hover {
  opacity: 0.4; /* Cambiado a un valor entre 0 y 1 */
  cursor: auto;
}

.p-small{
    font-size: small;
}

.mt{
    margin-top: 10px;
}

.mb-sm{
    margin-bottom: 8px;
}
.mb-xl{
    margin-bottom: 20px;
}

.text-white{
    color: white;
}

.font-light{
    font-weight: 300;
}

.font-bold{
    font-weight: 700;
}

.text-yellow{
    color: var(--yellow);
}

.text-grey{
    color: var(--grey-200);
}

.border-sm{
    border-radius: 8px;
}

.border-xl{
    border-radius: 20px;
}

.input-xl{
    font-size: medium;
    color: white;
    background: var(--grey-400);
    padding: 10px;
    outline: none;
    border: none;
}

.button-yellow{
    background: var(--yellow);
    color: black;
    font-size: medium;
    font-weight: 700;
    border: solid 1px currentColor;
    width: 100%;
    padding: 10px;
    transition: .1s ease-in-out ;
    cursor: pointer;
}

.button-outline{
    background: none;
    color: currentColor;
    font-size: medium;
    font-weight: 700;
    border: solid 1px currentColor;
    width: 100%;
    padding: 10px;
    transition: .1s ease-in-out ;
    cursor: pointer;
}

.button-outline:hover, .button-yellow:hover {
    transform: scale(0.98);
    opacity: 80%;
}

.button-outline_yellow:hover{
    background: var(--yellow);
    color: black;
    opacity: 100%;
    border: solid 1px var(--yellow);
}

.button-sm{
    max-width: 150px;
}

.section-main{
    padding: 100px;
}

.modal{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-interaction{
    position: relative;
    padding: 50px;
    background: var(--black-200);
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.box-interaction_inputs{
    display: flex;
    align-items: end;
    gap: 10px;
}

.board-projects{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0;
}

.cta-board{
    display: flex;
    gap: 5px;
    align-items: center;
}

.box-project_resume_overlay{
    position: relative;
}

.box-project_resume_overlay::after{
    position: absolute;
    content: '';
    width: 200px;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
    top: 0;
    right: 0;
}

.board-projects::-webkit-scrollbar{
    width: 50px;
}

.board-projects::-webkit-scrollbar-track{
    background: transparent;
}

.board-projects::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
    border-radius: 20px;
    border: 5px solid black;
}

.box-project_resume{
    position: relative;
    display: flex;
    width: 230px;
    flex-direction: column;
    gap: 10px;
    background: var(--black-200);
    border: 1px solid var(--black-200);
    color: white;
    padding: 20px;
    transition: .5s ease-in-out;
}

.remove-project{
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--yellow);
    color: black;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
}

.remove-project:hover{
    background: rgb(207, 3, 3);
    color: white;
    cursor: pointer;
}

.box-project_resume-content{
    width: 100%;
}

.box-project_resume-head{
    display: flex;
    justify-content: space-between;
}

.box-project_tittle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-project_resume:hover{
    border: 1px solid var(--yellow);
}

.box-project_resume-information_head{
    display: flex;
    height: 300px;
    justify-content: space-between;
    overflow: hidden;
}

.box-project_resume-active{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
    border: 1px solid var(--yellow);
    background: var(--black-200);
    color: white;
}

.box-project_resume-box_timer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.box-project_resume-box_timer-controls{
    display: flex;
    gap: 5px;
}

.box-project_resume-button_close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--grey-400);
    border: solid 5px black;
    color: white;
}

.box-generate{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: solid .1px var(--grey-200);
}

.move-out{
    animation: move-out 1.5s;
}

.move-in{
    animation: move-in 1.5s;
}

.animate-box{
    animation: animateBox 1s;
}

@keyframes move-out {
    0% {transform: translate(0%); opacity: 1;}
    50% {transform: translate(0%); opacity: 1;}
    100% {transform: translate(-70%); opacity: 0;}
}

@keyframes move-in {
    0% {transform: translate(-70%); opacity: 0;}
    50% {transform: translate(-70%); opacity: 0;}
    100% {transform: translate(0%); opacity: 1;}
}

@keyframes animateBox {
    0%{transform: translateY(-50%); opacity: 0;}
    100%{transform: translateY(0%); opacity: 1;}
}